.footer {
	width: 100%;
	background: #ffffff;
	display:flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;

	p { 
		color: #b1b1b1;
		font-family: Helvetica, serif;
		font-weight: 300;
		padding: 30px 40px; 
	}
}
