$size: 80px;
$sideLength: $size * 0.56;
$color:  rgba(255,255,255, 0.9);
$trans-color: rgba(20,20,220, 0.5);
$clear: transparent;

.transition {
	transition: all 0.5s ease;
}

.hexagon {
	display: inline-block;
	margin: 0 30px;
}

.hexagon figure {
	position: relative;
	top: $size/5;
	height: $sideLength;
	width: $size;
	background-color: $color;
	@extend .transition;
	z-index: 2;
	
	&:hover {
		background-color: $trans-color;
		&::before { border-color: $clear $clear $trans-color; }
		&::after { border-color: $trans-color $clear $clear;	}
	}
	
	&::before {
		@extend .transition;
		content: '';
		height: 0;
		width: 0;
		position: absolute;
		top: -$size/4;
		left: 0;
		border-width: 0 $size/2 $size/4;
		border-style: solid;
		border-color: $clear $clear $color;
		z-index: 1;
	}
	&::after {
		@extend .transition;
		content: '';
		height: 0;
		width: 0;
		position: absolute;
		top: $sideLength;
		left: 0;
		border-width: $size/4 $size/2 0;
		border-style: solid;
		border-color: $color $clear $clear;
		z-index: 1;
	}	
}
