.portfolio {
	background-color: #fafafa;
	padding-top: 20px;
	padding-bottom: 50px;
	
	color: #040404;
	text-align: center;
	font-family: Helvetica, sans-serif;

	h2 {
		margin: 20px auto;
		font-size: 3em;
		font-weight: 300;
	}
}