.portfolio {
	color: hsl(0, 0, 50%);
	background-color: $color-background;
	min-width: 300px;
	max-width: 640px;
	margin: 100px auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	.project-preview {
		width: 320px;
		height: 200px;
		margin: 0 auto;
		position: relative;

		&:hover {
			animation: .35s fadein ease;
		}

		h1 {
			color: hsl(0, 0, 90%);
		}

		h2 {
			font-size: 10px;
		}

		img {
			width: 320px;
			height: 200px;
			border-style: none;
		}

		.project {
			padding: 4px;
		}

		.tags {
			span {
				margin-right: 5px;
			}
		}

		.links {
			position: absolute;
			bottom: 10px;
			a {
				color: $color-accent;
				text-decoration: none;
				margin-right: 12px;
			}
		}

		@keyframes fadein {
			from { opacity: 0; }
			to { opacity: 100%; }
		}
	}
}