.live {
	background-color: #EBAD3F;
}

.github {
	background-color: #4DA4EB;	
}

.app-store {
	background-color: #C7676C;
}

.project {
	max-width: 700px;
	height: 300px;
	margin: 50px auto;
	color: #040404;
	font-family: Helvetica, sans-serif;
	background-color: white;
	border-radius: 10px;

	.title {
		text-align: left;
		padding-top: 5px;
		h3 { 
			margin: 0 15px 0 12px;
			font-size: 3em;
			font-weight: 300;
			display: inline;
		}

		h4 {
			font-size: 1.2em;
			color: #0b0b0b;
			position: relative;
			top: -5px;
			display: inline;
		}	
	}

	p {
		clear: left;
		text-align: left;
		max-width: 450px;
		margin: 10px 10px;
	}

	.image {
		float: right;
		position: relative;
		top: -30px;
		margin: 0 10px;
		height: 200px;
		max-width: 250px;
		overflow: hidden;
		img {	
			height: 200px;
		}
	}

	.tags {
		float: left;
		span {
			display: inline-block;
			margin: 25px 0 25px 30px;	
			padding: 3px 8px;
			background-color: #D8EBEB;
			border-radius: 10px;
		}
	}

	.buttons {
		clear: both;
		width: 100%;
		a {
			float: right;
			margin: 0 10px;
			padding: 5px 8px;
			min-width: 100px;
			border-radius: 8px;
			color: white;
			text-decoration: none;
			font-size: 1.3em;
			&:hover { opacity: 0.7; }
		}
	}
}