.splash {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: white;
	
	position: relative;
	top: 0;
	width: 100%;
	height: 60vh;
	
	background: linear-gradient(to bottom, #1B3842, #C3CFCE);

	p {
		font-size: 1.2em;
		margin: 0;
		min-width: 240px;
		max-width: 500px;
	}

	.description { 
		padding: 150px 100px 0 0;
		margin: 0 auto;
		width: 50%;
		text-align: left;
		font-size: 1.4em;
	}
}